* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 #strip {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 15px;
    text-align: center;
    background: rgb(44,44,48);
background: linear-gradient(90deg, rgba(44,44,48,1) 36%, rgba(156,156,164,1) 100%, rgba(0,212,255,1) 100%);
} 
 #slider1{
    z-index: -1;
} 
.nav-link{
    position: relative;
}
 .nav-link::after{
content: '';
width: 0%;
height: 5px;
background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

position: absolute;
bottom: 0%; left: 50%;
border-radius: 10px;
transition: all 500ms ease;

}
.nav-link:hover::after{
left: 0%;
width: 100%;
}
